@model QueseriaSoftware.ViewModels.AgregarProductoViewModel
@{
    ViewData["Title"] = "Agregar/Buscar Producto";
}

<div class="container">
    <div class="row">
        <div class="col-12 section-header">
            Agregar/buscar <br /> producto
        </div>

        <div class="col-12 centered-container mb-4">
            <div class="form-box" style="width: 400px;">
                <form asp-action="BuscarProducto" method="get" class="d-flex">
                    <input asp-for="Busqueda" class="form-control input-gray me-2" style="margin-bottom: initial;" placeholder="Buscar producto" />
                    <button type="submit" class="btn-green" style="width: 100px;">Buscar</button>
                </form>
            </div>
        </div>

        <div class="col-12 d-flex justify-content-center flex-wrap gap-4">
            @if (Model.Productos != null && Model.Productos.Count > 0)
            {
                @foreach (var producto in Model.Productos)
                {
                    @await Html.PartialAsync("_ProductoCard", producto)
                }
            }
            else
            {
                <div class="form-box p-3" style="background-color: #d9d9d9;">
                    <div class="mb-2">
                        <p>No hay productos disponibles actualmente</p>
                    </div>
                </div>
            }
        </div>

        <div class="col-12 centered-container mt-4">
            <div class="menu-btn-container">
                <a asp-controller="Home" asp-action="Index" class="btn-green">Volver al inicio</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
