@using QueseriaSoftware.ViewModels
@model LoginViewModel
@{
    ViewData["Title"] = "Iniciar Sesión";
}
<div class="container">
    <div class="row">
        <div class="col-12 section-header">
            Inicio de Sesión
        </div>

        <div class="col-12 centered-container">
            <div class="form-box">
                <form asp-action="Index" method="post" novalidate>
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>

                    <div class="form-floating mb-2">
                        <input asp-for="Username" class="form-control input-gray" placeholder="Usuario" />
                        <label asp-for="Username"></label>
                    </div>
                    <span asp-validation-for="Username" class="text-danger d-block mb-2"></span>

                    <div class="form-floating mb-3">
                        <input asp-for="Password" class="form-control input-gray" type="password" placeholder="Contraseña" />
                        <label asp-for="Password"></label>
                    </div>
                    <span asp-validation-for="Password" class="text-danger d-block mb-3"></span>

                    <button type="submit" class="btn-green">Ingresar</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}