@{
    ViewData["Title"] = "Inicio Cliente";
}

<div class="container">
    <div class="row">
        <div class="col-12 section-header">
            Inicio Cliente
        </div>

        <div class="col-6 centered-container menu-btn-container">
            <a href="/pedido" class="btn-green">Ver pedidos</a>
        </div>
        <div class="col-6 centered-container menu-btn-container">
            <a href="/" class="btn-green">Ver envíos</a>
        </div>
        <div class="col-6 centered-container menu-btn-container">
            <a href="/" class="btn-green">Devolver pedido</a>
        </div>
        <div class="col-6 centered-container menu-btn-container">
            <a href="/" class="btn-green">Contactarse con vendedor</a>
        </div>
        <div class="col-6 centered-container menu-btn-container">
            <a href="/productos/catalogo" class="btn-green">Catálogo </a>
        </div>
    </div>
</div>

