html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Fondo gris claro para encabezados */
.section-header {
    background-color: #d9d9d9;
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2em;
}

/* Contenedor centrado vertical y horizontal */
.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Caja de formularios */
.form-box {
    width: 300px;
}

/* Inputs estilo gris */
.input-gray {
    background-color: #d9d9d9;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    font-size: 1rem;
    margin-bottom: 20px;
}

/* Botón verde */
.btn-green {
    background-color: #79c57d;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 1rem;
    border-radius: 3px;
    transition: background-color 0.3s;
}

    .btn-green:hover {
        color: white;
        background-color: #68b16d;
    }

/* Color gris claro para los floating labels cuando el input no está enfocado ni tiene valor */
.form-floating > label {
    color: #6c757d;
}

.form-control:focus {
    border-color: #28a745; /* verde botón */
    box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.25); /* verde con transparencia */
    outline: 0;
}



/*SECCION MENU PRINCIPAL*/
.menu-btn-container{
    margin-bottom: 5px;
}
    .menu-btn-container a {
        max-width: 15em;
        text-align: center;
        text-decoration: none;
    }

/* Caja blanca arriba de cada producto */
.producto-box {
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
}

/* Lineas de texto con borde abajo */
.producto-line {
    border-bottom: 1px solid #999;
    padding-bottom: 5px;
    font-size: 1rem;
    color: #333;
}
