@{
    ViewData["Title"] = "Registro Exitoso";
}

<div class="container mt-5">
    <div class="alert alert-success text-center">
        <h4 class="alert-heading">¡Registro exitoso! 🎉</h4>
        <p>Tu cuenta ha sido creada correctamente.</p>
        <hr />
        <a class="btn btn-primary" asp-controller="Login" asp-action="Index">Ya podes iniciar sesión</a>
    </div>
</div>
